*{
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    /* background: linear-gradient(rgb(255,255,255), rgb(109,39,239)); */
    background: url('../WhatsAppBG.jpeg');
    background-size: contain;
    overflow: hidden;
}
.logo{
    display: block;
    margin: auto;
    width: 50px ;
    height: 50px;
}
.container{
    max-width: 955px;
    border: 2px solid #000;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
    background: url('../ChatBG.jpg');
    background-size: cover;
}
.message{
    background: #0a1919;
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid #000;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
}
.left{
    float: left;
    clear: both;
}
.right{
    float: right;
    clear: both;
}
#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
}
#messageInp{
    width: 92%;
    border: 2px solid #000;
    border-radius: 6px;
    height: 34px;
}
.btn{
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 6px;
    height: 34px;
}